!!!
html(class="#{ current.source }-body")
  head
    script(type="text/javascript", src="//use.typekit.net/xzf1kdh.js")
    script.
      try{Typekit.load();}catch(e){}
    link(rel="stylesheet", href="//c.gee.io/components/driftyco-ionicons/css/ionicons.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon", href="/favicon.ico?v=1")
    script#IntercomSettingsScriptTag
      window.intercomSettings = {
        // TODO: The current logged in user's email address.
        email: "john.doe@example.com",
        // TODO: The current logged in user's sign-up date as a Unix timestamp.
        created_at: 1234567890,
        app_id: "d36b93cdb9075dd1b5d85e3f56866826463cbaad"
      };
    script
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

  body
    != yield
