a(href='/').home-letter g

mixin input(opts)
  - var type = attributes.type
  .input(field=opts.name)
    - if (opts.icon)
      i(class='#{opts.icon}')

    - if (attributes.type == 'textarea')
      textarea(required, placeholder=attributes.placeholder, name='#{opts.name}')
    - else
      input(type=type, required, placeholder=attributes.placeholder, name='#{opts.name}')

h3.page-title Hire gee.io
.contact
  form(accept-charset='UTF-8', autocomplete='off', enctype='multipart/form-data', method='post', novalidate='novalidate', action='https://geeio.wufoo.com/forms/mw0prvd0td06vo/#public')
    input(type='hidden', name='idstamp', value='gqxF27AqWsa9w+V3yoz9Nov/BP8DG6Mh7XbdKEYai8w=')

    +input({name: 'Field1', icon: 'ion-person'})(type='text', placeholder='What is your name?')
    +input({name: 'Field2', icon: 'ion-email'})(type='email', placeholder='What is your email address?')
    +input({name: 'Field5', icon: 'ion-ios7-telephone'})(type='tel', placeholder='What is your phone number?')
    +input({name: 'Field6', icon: 'ion-help'})(type='textarea', placeholder='What do you want to hire me for?')
    +input({name: 'Field8', icon: 'ion-pricetag'})(type='text', placeholder='What is your budget?')

    input(name='saveForm', type='submit', value='Submit')



